/* 1rem = 1em = 16px */

/* 1800PX */
@media (max-width: 112.5em) {
  html {
    font-size: 56.25%;
  }

  .nav-container {
    padding: 5.2rem 0;
  }

  .left-nav-container {
    gap: 6.4rem;
    width: 96.5rem;
  }

  .hero-header span::after {
    width: 44.5rem;
    height: 4.5rem;
  }

  .included-gallery-item {
    width: 28rem;
    height: 28rem;
  }
}

/* 1507 px */
@media (max-width: 94.1875em) {
  html {
    font-size: 50%;
  }

  .left-nav-container {
    gap: 4.8rem;
    width: 80rem;
  }

  .section-hero {
    min-height: 80vh;
  }

  .hero-content-container {
    max-width: 80rem;
  }

  .hero-header {
    font-size: 8rem;
    margin-bottom: 4.8rem;
  }

  .hero-header span::after {
    width: 37rem;
    height: 4.5rem;
  }

  .hero-btn-container {
    margin-bottom: 5.2rem;
  }

  .included-features-container {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 0;
    row-gap: 5.2rem;
  }

  .included-gallery-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .included-gallery-item {
    width: 26rem;
    height: 26rem;
  }

  .included-gallery-item:last-child {
    display: none;
  }

  .included-feature-header {
    margin-bottom: 0.8rem;
  }

  .btn--included {
    margin-top: 6.4rem;
  }
}

/* 1056 px */
@media (max-width: 66em) {
  html {
    font-size: 37.5%;
  }

  .left-nav-container {
    width: 76rem;
    gap: 3.2rem;
  }

  .hero-content-container {
    max-width: 76rem;
  }

  .hero-header {
    font-size: 7.6rem;
  }
}

/* FIXING FLEXBOX GAP IN SAFARI */
/* SEE LECTURE 143 ON UDEMY (WATCH COMPLETELY) */
