/* 1rem = 1em = 16px */

/* 1800PX */
@media (max-width: 112.5em) {
  html {
    font-size: 56.25%;
  }

  .section-navigation {
    padding: 5.2rem 0;
  }

  .left-nav-container {
    gap: 6.4rem;
    width: 96.5rem;
  }

  .hero-header span::after {
    width: 44.5rem;
    height: 4.5rem;
  }

  .included-gallery-item {
    width: 28rem;
    height: 28rem;
  }
}

/* 1507 px */
@media (max-width: 94.1875em) {
  html {
    font-size: 50%;
  }

  .left-nav-container {
    gap: 4.8rem;
    width: 80rem;
  }

  .section-hero {
    min-height: 80vh;
  }

  .hero-content-container {
    max-width: 80rem;
  }

  .hero-header {
    font-size: 8rem;
    margin-bottom: 4.8rem;
  }

  .hero-header span::after {
    width: 37rem;
    height: 4.5rem;
  }

  .hero-btn-container {
    margin-bottom: 5.2rem;
  }

  .included-features-container {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 0;
    row-gap: 5.2rem;
  }

  .included-gallery-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .included-gallery-item {
    width: 26rem;
    height: 26rem;
  }

  .included-gallery-item:last-child {
    display: none;
  }

  .included-feature-header {
    margin-bottom: 0.8rem;
  }

  .btn--included {
    margin-top: 6.4rem;
  }
}

/* 1056 px */
@media (max-width: 66em) {
  html {
    font-size: 37.5%;
  }

  .left-nav-container {
    max-width: 76rem;
    gap: 3.2rem;
  }

  .hero-content-container {
    max-width: 76rem;
  }

  .hero-header {
    font-size: 7.6rem;
  }

  .hero-header span::after {
    width: 33.5rem;
    height: 4rem;
  }
}

/* 722 px */
@media (max-width: 45.125em) {
  /* Hero section */
  .section-hero {
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 2fr;
  }

  .hero-content-container {
    display: grid;
    grid-template-columns: 1fr;

    max-width: 87rem;
    margin: 16rem auto 4.8rem auto;
    align-items: center;
    justify-items: center;
  }

  .hero-header {
    text-align: center;
  }

  .hero-header span::after {
    width: 33.5rem;
    height: 4rem;
    left: 22.5rem;
    bottom: 1rem;
  }

  .hero-feature-container {
    margin-bottom: 0;
  }

  .hero-btn-container {
    grid-row: 5 / 6;
  }

  .hero-testimonial {
    grid-row: 4 / 5;
    margin-bottom: 6.4rem;
    align-items: start;
  }

  .hero-testimonial-icon {
    height: 2.4rem;
    width: 2.4rem;
  }

  /* Features section */
  .features-container {
    display: flex;
    flex-direction: column;
  }

  /* What's included section */
  .section-included {
    flex-direction: column;
  }

  .included-gallery-container {
    grid-template-columns: repeat(3, 1fr);
    max-width: 85rem;
    align-self: center;
  }

  .included-gallery-item {
    width: 25rem;
    height: 25rem;
  }

  .included-gallery-item:last-child {
    display: block;
  }

  /* Contact section */
  .contact-container {
    grid-template-columns: 1fr;
  }

  .contact-form {
    gap: 5.2rem;
  }

  .contact-information-list {
    gap: 3.2rem;
  }

  .contact-information-contact {
    gap: 1.2rem;
  }

  /* Footer section */
  .footer-col--about {
    display: none;
  }

  /* Mobile nav */
  .btn--mobile-nav {
    display: flex;
    align-items: center;
    position: absolute;
    padding-left: 4.8rem;
  }

  .nav-container {
    background-color: rgba(245, 245, 245, 0.95);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
    transform: translateX(-100%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;
    transition: all 0.5s ease-out;

    /* Hide navigation */
    /* Visually */
    opacity: 0;

    /* Make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* Hide from screen readers */
    visibility: hidden;
  }

  .nav-open .nav-container {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .mobile-nav-icon[name="close"] {
    display: block;
  }

  .nav-open .mobile-nav-icon[name="menu-outline"] {
    display: none;
  }

  .left-nav-container {
    padding-left: 0;
    flex-direction: column;
  }

  .logo {
    display: none;
  }

  .right-nav-container {
    padding-right: 0;
  }

  .btn--main-nav:link,
  .btn--main-nav:visited {
    font-size: 3rem;
  }

  .right-nav-container .btn--cta-white {
    font-size: 3rem;
  }
}

/* FIXING FLEXBOX GAP IN SAFARI */

/* Example */
.no-flexbox-gap .main-nav-list li:not(:last-child) {
  margin-right: 4.8rem;
}

/* Real fixes */
.no-flexbox-gap .left-nav-container .logo {
  margin-right: 10.8rem;
}

.no-flexbox-gap .left-nav-container .btn:not(:last-child) {
  margin-right: 10.8rem;
}

.no-flexbox-gap .logo .logo-img {
  margin-right: 1.2rem;
}

.no-flexbox-gap .hero-feature .hero-feature-icon {
  margin-right: 1.8rem;
}

.no-flexbox-gap .hero-btn-container .btn:not(:last-child) {
  margin-right: 1.8rem;
}

.no-flexbox-gap .hero-testimonial .hero-testimonial-icon-container {
  margin-right: 2.4rem;
}

.no-flexbox-gap .included-feature .included-feature-left {
  margin-right: 2.2rem;
}

.no-flexbox-gap .testimonial-authors .testimonial-author:not(:last-child) {
  margin-bottom: 5.2rem;
}

.no-flexbox-gap .testimonial-author .testimonial-author-img {
  margin-right: 3.2rem;
}

.no-flexbox-gap
  .testimonial-stars-container
  .testimonial-star:not(:last-child) {
  margin-right: 1.2rem;
}

.no-flexbox-gap .contact-form .contact-input--grid {
  margin-bottom: 6.4rem;
}

.no-flexbox-gap .contact-form .contact-form-text:not(:last-child) {
  margin-bottom: 6.4rem;
}

.no-flexbox-gap
  .contact-information-list
  .contact-information-contact:not(:last-child) {
  margin-bottom: 4.8rem;
}

.no-flexbox-gap .contact-information-contact .contact-icon {
  margin-right: 2.4rem;
}

.no-flexbox-gap
  .contact-socials-container
  .contact-social-link:not(:last-child) {
  margin-right: 1.2rem;
}

.no-flexbox-gap .footer-col--about .logo {
  margin-bottom: 3.2rem;
}

.no-flexbox-gap .footer-col .footer-col-header,
.no-flexbox-gap .footer-col .footer-col-link:not(:last-child) {
  margin-bottom: 2.4rem;
}

.no-flexbox-gap .footer-col-link-container .footer-img-icon {
  margin-right: 2.2rem;
}

.no-flexbox-gap .legal-links .resource-link:not(:last-child) {
  margin-right: 3.2rem;
}
